xv-map {
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;

  $panel-width: 300px;
  $toggle-size: 50px;
  $border: $main-color4;
  $animation-speed: 0.5s;

  &.panel-show {
    > div {
      &.map {
        right: $panel-width;
      }

      &.right-panel {
        right: 0;
        > div {
          > .toggle a {
            > i {
              transform: rotateY(180deg);
            }
          }
        }
      }
    }
  }


  > div {
    &.map {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all $animation-speed ease;

      > .container {
        position: relative;
        width: 100%;
        height: 100%;

        > .view {
          width: 100%;
          height: 100%;
        }

        > .panes {
          position: absolute;
          z-index: 1;

          &.top-left {
            top: 0;
            left: 0;
          }

          &.bottom {
            left:0;
            right:0;
            bottom: 0;
          }

          &.bottom-left {
            bottom: 0;
            left: 0;
          }
        }
      }
    }




























    /*********************************
    ************* RIGHT PANEL
    *************************/
    &.right-panel {
      position: absolute;
      top: 0;
      right: -$panel-width;
      will-change: right;
      bottom: 0;
      background: $background-color;
      z-index: 5;
      width: $panel-width;
      background: #FFF;
      transition: all $animation-speed ease;
      border-left: 1px solid $border;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);

      > div {
        position: relative;
        height: 100%;
        width: 100%;

        > .toggle {
          height: $toggle-size;
          position: absolute;
          right: 100%;
          display: flex;
          top: 0;

          > .breadcrumb {
            height: 100%;
          }

          > a {
            flex: none;
            display: block;
            width: $toggle-size;
            height: 100%;
            background: $main-color;
            color: #FFF;
            font-size: 30px;
            text-align: center;
            border-right: 0;
            box-shadow: -2px 2px 3px -1px rgba(0, 0, 0, 0.5);

            > i {
              display: inline-block;
              transition: all $animation-speed ease;
              &:before {
                line-height: $toggle-size;
              }
            }
          }
        }

        > .content {
          height: 100%;
          overflow-y: auto;
        }
      }
    }
  }





































  /***********************************************
  * Custom map elements styles
  */
  > div.map {
    .leaflet-marker-icon {
      box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.44);
      background: #FFF;

      &.map-cluster-marker {
        background: $main-color2;
        color: #FFF;
        font-weight: bold;
        border-radius: 100%;
        text-align: center;
        font-size: 14px;
        line-height: 40px;
      }
    }

    .leaflet-top, .leaflet-bottom {
      z-index: 1;
    }

    .leaflet-zoom-box-control {
      > a {
        &:before {
          line-height: 26px;
        }
      }
    }

    .leaflet-zoom-box {
      border-color: $main-color2;
      box-shadow: 10px 10px 5px 100vw rgba(0, 0, 0, 0.75);
    }

    .polygon-container {
      width: 1px;
      height: 1px;
      position: relative;
      pointer-events: none;
      background: transparent !important;

      > .polygon-html {
        position: absolute;
        bottom: 100%;
        left: 0;
        transform: translateX(-50%);
      }
    }

    .leaflet-control-zoomslider {
      > a {
        background: $main-color;
        color: #FFF;
        border-radius: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
      }

      .leaflet-control-zoomslider-knob {
        border-radius: 0;
        width: 20px;
        margin-left: -9px;
      }
    }

    .leaflet-zoom-box-control {

      &.active {
        > a {
          background: $main-color2;
        }
      }
      a {
        transition: all 0.3s ease;
        border-radius: 0 !important;
        width: 40px;
        height: 40px;
        background: $main-color;
        color: #FFF;

        &:before {
          line-height: 40px;
        }

      }
    }
  }

}